@import '../../../css/variables.scss';

.service-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: $basic-black-color;
  margin: 0;

  @media (max-width: $tabletWidth) {
    font-size: 16px;
  }

  @media (max-width: $mobileWidth) {
    font-size: 14px;
  }
}
