$workSansFont: 'Work Sans', 'Arial', sans-serif;
$basic-font: 'Roboto', 'Arial', sans-serif;

$basic-gray-color: rgba(112, 124, 135, 1);
$basic-black-color: rgba(31, 30, 37, 1);
$gray-background-color: rgba(246, 247, 255, 1);

$desktopWidth: 1024px;
$tabletWidth: 1023px;
$mobileWidth: 767px;

$desktopWindowIndent: 0 clamp(20px, calc((100vw - 1024px) / 2), 98px);
