@import '../../css/variables.scss';

.slick-slider {
  overflow-x: hidden;
}

.slick-dots {
  bottom: 35px;

  @media (max-width: $tabletWidth) {
    bottom: 11px;
  }

  @media (max-width: $mobileWidth) {
    bottom: 7px;
  }
}

.slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 4px;

  @media (max-width: $mobileWidth) {
    width: 6px;
    height: 6px;
    margin: 0 3px;
  }
}

.slick-active .dot  {
  background-color: $gray-background-color;
}

